@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* Menu Lateral */
.menu {
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 1px;
    width: 0;
    overflow: hidden;
    transition: width 0.3s;
}

.menu.open {
    width: 150px;
    padding: 40px 1px;  
}

.menu li {
    display: inline-block;
    padding: 1px;
    text-decoration: none;
}

.menu li:last-child {
    border-bottom: none;
}

.menu a {
    text-decoration: none;
    color: #000000;
    padding: 2px 0;
}

.menu-icon-container {
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px;
}

.hamburger {
    width: 30px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 22px;
}
.bar {
    height: 4px;
    width: 100%;
    background-color: #333;
    border-radius: 2px;
    transition: all 0.3s;
}

.hamburger.open .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.open .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}


 /*CSS Body  */

.container {
    max-width: 1200px;
}

.btn-novo {
    margin-left: 10px;
}

.btn-sair {
    position: absolute;
    top: 20px;
    right: 20px;
}

.list-group-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.list-group-item div {
    margin-right: 15px;
}

.search-container {
    justify-content: center; /* /Centraliza o campo de busca horizontalmente */
    margin-top: 50px; /* Ajuste a distância do topo conforme necessário */
}

.search-input {
    justify-content: center; /* /Centraliza o campo de busca horizontalmente */
    width: 600px;
    padding-left: 50px; 
}

.image{
    position: absolute;
    top: 20px;
    left: 20px;
}

.title{
    /* justify-content: center; /Centraliza o campo de busca horizontalmente */
    margin-top: 110px; /* Ajuste a distância do topo conforme necessário */
    padding-right: 60px; 
   
}