@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
}

/* Menu Lateral */
.menu {
    position: relative;
    top: 0;
    right: 0;
    background-color: rgb(31, 117, 74);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    width: 0;
    overflow: hidden;
    transition: width 0.3s;
    
}

.menu.open {
    width: auto;
    padding: 0x 5px;  
}

.menu ul {
    list-style: none;
    padding: 15px;
    margin: 0;
    text-align: center;  
}

.menu li {
    border-bottom: 5px solid #3a92073b;
    display: inline-block;
    padding: 150px;
}

.menu li:last-child {
    border-bottom: none;
}

.menu a {
    text-decoration: none;
    color: #ffffff;
    padding: 10px 0;
    transition: background-color 0.3s;
}

.menu a:hover {
    background-color: #33b45c;
    border-radius: 4px;
}

.menu-icon-container {
    position: absolute;
    top: 0;
    right: 0;
    padding: 150px;
}

.hamburger {
    width: 30px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 22px;
}

.bar {
    height: 4px;
    width: 100%;
    background-color: #333;
    border-radius: 2px;
    transition: all 0.3s;
}

.hamburger.open .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.open .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

/* 
nav {
  width: 100%;
  top: 30%;
  left: 42%;
  background-color: #f37c7c41;
  position: absolute;
  border-radius: 2px;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  width: 380px; 
}
   */